<?xml version="1.0" encoding="utf-8"?>
<root>

<module
name="companydetail"
target="SHCompanyDetailViewController" />

<module
pre_action = "login"
name="login"
target="SHLoginViewController" />

<module
name="chatdetail"
target="SHChatDetailViewController" />

<module
name="calendar"
target="SHMyCalendarViewController" />

<module
name="myteam"
target="SHMyTeamViewController" />
<module
name="moneydetail"
target="SHMoneyDetailViewController" />

</root>