<?xml version="1.0" encoding="utf-8"?>
<root>
    
    <module
    name="companydetail"
    target="SHCompanyDetailViewController" />
    
    <module
    pre_action = "login"
    name="login"
    target="SHLoginViewController" />
    
    <module
    name="chatdetail"
    target="SHChatDetailViewController" />
    
    <module
    name="chatuserdetail"
    target="SHCharUserDetailViewController" />
    <module
    
    name="calendar"
    target="SHMyCalendarViewController" />
    
    <module
    name="myteam"
    target="SHMyTeamViewController" />
    <module
    name="moneydetail"
    target="SHMoneyDetailViewController" />
    <module
    name="attachment"
    target="SHAttachmentViewController" />
    <module
    name="executeinfo"
    target="SHExecuteViewController" />
    
    <module
    name="searchcondition"
    target="SHMoneySearchViewController" />
    
    <module
    name="usersearchcondition"
    target="SHChatSearchViewController" />
    <module
    name="usersearchlist"
    target="SHChatSearchListViewController" />
    <module
    name="teamdetail"
    target="SHTeamDetailViewController" />
    <module
    name="searchexecuter"
    target="SHSearchExecuteViewController" />
    <module
    name="webbrowser"
    target="SHWebViewController" />
    <module
    name="userreport"
    target="SHReportListViewController" />
    <module
    name="writereport"
    target="SHReportViewController" />
    
    <module
    name="editcalendar"
    target="SHEditCalendarViewController" />
    <module
    name="webview"
    target="SHWebViewController" />
    <module
    name="myfollow"
    target="SHMyFollowViewController" />
    <module
    name="usercalendar"
    target="SHUserCalendarViewController" />
    <module
    name="companysearch"
    target="SHCompanySearchViewController" />
    <module
    name="teamsearch"
    target="SHTeamSearchViewController" />
    <module
    name="teamsearchuserlist"
    target="SHTeamSearchUserViewController" />
    
</root>